:root {
  --main-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --secondary-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: var(--secondary-text-color);
  font-weight: 400;
}
/* Logo */

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-zone {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-contacts .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* hero  */

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  text-transform: uppercase;
}

/* button */
.btn {
  font-size: 16px;
  border-radius: 4px;
  border: none;

  cursor: pointer;
  text-align: center;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
}

.button.secondary {
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 1.62;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.section .title {
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
}
.section .text {
}
/* work */

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}
/* team */
.team {
    background-color: var(--additional-background-color);
}
.user-img {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
.job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
/* footer */

.container {
  background-color: var(--secondary-background-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.container .logo {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.container .logo-zone {
  color: var(--accent-color);
}

.container .logo:hover,
.container .logo:focus {
  color: var(--accent-color);
}

.container .link {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
}

.container .link-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .link-contact:hover,
.container .link-contact:focus {
  color: var(--accent-color);
}

.item .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.item .content {
  font-size: 16px;
  line-height: 1.88;
}
